@charset "UTF-8";
/* ARTISTE
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
@font-face {
  font-family: 'archisticonormal';
  src: url("../fonts/archistio/archistico_simple-webfont.eot");
  src: url("../fonts/archistio/archistico_simple-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archistio/archistico_simple-webfont.woff2") format("woff2"), url("../fonts/archistio/archistico_simple-webfont.woff") format("woff"), url("../fonts/archistio/archistico_simple-webfont.ttf") format("truetype"), url("../fonts/archistio/archistico_simple-webfont.svg#archisticonormal") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-r-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-r-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-r-webfont.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-r-webfont.svg#ubunturegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/open-sans/opensans-webfont.eot");
  src: url("../fonts/open-sans/opensans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/opensans-webfont.woff2") format("woff2"), url("../fonts/open-sans/opensans-webfont.woff") format("woff"), url("../fonts/open-sans/opensans-webfont.ttf") format("truetype"), url("../fonts/open-sans/opensans-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome/Linearicons-Free.eot?w118d");
  src: url("../fonts/fontawesome/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../fonts/fontawesome/Linearicons-Free.woff2?w118d") format("woff2"), url("../fonts/fontawesome/Linearicons-Free.woff?w118d") format("woff"), url("../fonts/fontawesome/Linearicons-Free.ttf?w118d") format("truetype"), url("../fonts/fontawesome/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal; }

.topbar h1, nav h2, .piedpage h3, .principal h2, legend {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fin du reset de meyer*/
html {
  font: normal 62.5%/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: #606060; }

h2 {
  font: 5em "archisticonormal";
  color: #F08362;
  text-align: center; }

h3 {
  font: 3em "ubuntu";
  text-transform: uppercase;
  text-align: center;
  color: #2190c1;
  margin-bottom: 1em; }

/* ARTISTE
 *
 * /sass/object/header.scss - Non Design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.topbar {
  text-align: right; }
  .topbar__logo {
    font-size: 0;
    display: block;
    width: 200px;
    height: 80px;
    background: url("../img/logo.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    left: 50px;
    z-index: 1; }

.menu {
  position: relative; }
  .menu__element {
    display: inline-block; }
  .menu__link {
    margin: 1.333em 2.0666em 1.333em 1.2em;
    display: block; }

/* ARTISTE
 *
 * /sass/components/mainimage.scss - NON Design of mainimage stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.principal {
  min-height: 88vh;
  position: relative; }
  .principal__infoExpo {
    width: 35em;
    position: absolute;
    right: 3em;
    bottom: 5em; }

/* ARTISTE
*
* /sass/object/pratique.scss - Design of pratique stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.main {
  width: 90em;
  margin: auto; }

.form {
  margin-left: 2em; }
  .form__input {
    display: block;
    width: 30em; }
  .form__button {
    width: 10em;
    margin: 2em 0; }

.info::after {
  content: "";
  display: block;
  clear: both; }

.info__title {
  margin: 1em 0; }

.info__menu {
  float: left;
  margin-bottom: 4em; }

.info__element {
  display: block;
  margin-right: 2em; }

/* ARTISTE
 *
 * /sass/object/biographie.scss - Non Design of biographie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.biographie {
  width: 90em;
  margin: auto; }
  .biographie::after {
    content: "";
    display: block;
    clear: both; }
  .biographie__title {
    margin-top: 1em; }
  .biographie__image {
    display: block;
    margin-left: 1.5em; }
  .biographie__text {
    width: 35em;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em; }

/* ARTISTE
 *
 * /sass/object/galerie.scss - Non Design of galerie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.galerieimage {
  display: block;
  width: 65em;
  margin: auto; }

.galerieimage::after {
  content: "";
  display: block;
  clear: both; }

.galerieimage h2 {
  margin: 1em 0; }

.ensembleimage div {
  color: white;
  float: left;
  width: 32em;
  margin: auto;
  height: 30em;
  overflow: hidden;
  margin-bottom: 2em; }

.ensembleimage img {
  width: 30em;
  height: 30em; }

.infocomplementaire strong {
  font-size: 1.4em;
  line-height: 1.4em; }

.infocomplementaire li {
  font: 1.3em/1.4 "ubuntu";
  padding: 1.3em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 265px;
  text-align: center;
  transition: 1s ease-in-out; }

.ensembleimage li:hover .infocomplementaire li {
  transform: translateY(-300px); }

/* ARTISTE
*
* /sass/object/bibliographie.scss - Non Design of bibliographie stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.catalogue {
  margin-bottom: 7em;
  perspective: 1000; }
  .catalogue__title {
    margin-top: 1em; }

.livre {
  margin-bottom: 5em; }
  .livre__title {
    margin-top: 1em; }
  .livre__image {
    width: 20em;
    min-height: 30em; }
  .livre__front--cite {
    display: block; }
  .livre__flipcontainer {
    width: 22em;
    margin: auto; }
  .livre__flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative; }
  .livre__back {
    backface-visibility: hidden;
    width: 25em;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto; }

/* ARTISTE
 *
 * /sass/object/lien.scss - Non Design of lien stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.liens__menu {
  padding-bottom: 4em; }

.liens__link {
  display: flex;
  flex-direction: column; }

/* ARTISTE
 *
 * /sass/object/footer.scss - NOn Design of footer stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.piedpage__list {
  text-align: center; }

.piedpage__element {
  margin-left: 2em; }

/* ARTISTE
*
* /sass/components/header.scss - Design of header stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.menu {
  background-color: #323A45; }
  .menu__element--active {
    border-bottom: 4px solid #F08362; }
  .menu__element:hover {
    color: white;
    border-bottom: 2px solid white;
    cursor: pointer; }
  .menu__link {
    display: block;
    font: 1.5em "ubuntu";
    transition: .4s ease-in-out;
    padding: 0.666em;
    color: white; }
    .menu__link--active {
      color: #F08362; }

.topbar {
  background-color: #323A45; }
  .topbar__shower {
    display: none; }

@media screen and (max-width: 878px) {
  .menu__link {
    font-size: 1.2em; }
  .topbar__logo {
    width: 150px;
    height: 60px;
    position: absolute;
    left: 10px; } }

@media screen and (max-width: 665px) {
  .topbar__shower {
    display: none; }
    .topbar__shower:checked ~ .menu {
      display: block; }
  .topbar__header {
    background-color: #323A45;
    min-height: 72px; }
  .hamburger {
    background: url("../img/burger.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    top: 16px;
    right: 15px;
    z-index: 100;
    cursor: pointer; }
  .menu {
    display: none;
    padding-top: 7em; }
    .menu__element {
      display: block;
      text-align: center; }
      .menu__element--active {
        border: none; }
      .menu__element:hover {
        background-color: #52647C; }
    .menu__link {
      display: block;
      margin: 0;
      padding: 2em;
      font-size: 1.4em;
      border-top: 1px solid white; }
      .menu__link--active {
        color: white; } }

/* ARTISTE
*
* /sass/components/pratique.scss - Design of pratique stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.info__menu {
  border-right: 1px solid #ccc; }

.info__element {
  font: 1.6em/1.8 "opensans";
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc; }
  .info__element--local::before {
    content: "";
    display: block;
    text-align: center;
    font: 4em/2em "fontawesome";
    color: #F08362; }
  .info__element--day::before {
    content: "";
    display: block;
    text-align: center;
    font: 4em/2em "fontawesome";
    color: #12A3D7; }
  .info__element--date::before {
    content: "";
    display: block;
    text-align: center;
    font: 4em/2em "fontawesome";
    color: #F08362; }
  .info__element--price::before {
    content: "";
    display: block;
    text-align: center;
    font: 4em/2em "fontawesome";
    color: #12A3D7; }
  .info__element--phone::before {
    content: "";
    display: block;
    text-align: center;
    font: 4em/2em "fontawesome";
    color: #F08362; }

.form__input {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px; }

.form__label {
  display: block;
  font: 1.6em/1.8 "opensans";
  margin-top: 1em; }

.form__button {
  border: none;
  padding: 1em;
  font-size: 1.4em;
  color: white;
  border-radius: 4px;
  background-color: #323A45; }
  .form__button:hover {
    transition: .3s linear;
    cursor: pointer;
    background-color: #12A3D7; }

/* ARTISTE
*
* /sass/components/bibliographie.scss - Non Design of bibliographie stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.livre__image {
  border: 10px solid white;
  box-shadow: 1px 1px 5px black; }

.livre__front {
  backface-visibility: hidden;
  z-index: 2;
  transform: rotateY(0deg); }
  .livre__front--cite {
    font-size: 1.6em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    text-decoration: none; }

.livre__flipcontainer:hover .livre__flipper {
  transform: rotateY(180deg); }

.livre__back {
  transform: rotateY(180deg);
  border: 1px solid black; }

.back__menu--element {
  font: 1.5em/1.4 "ubuntu";
  padding: 0.7em;
  text-align: left;
  color: black; }

/* ARTISTE
 *
 * /sass/components/biographie.scss - Design of biographie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.biographie__text {
  font: 1.5em/1.6em "opensans";
  color: black;
  padding: 1em; }

/* ARTISTE
 *
 * /sass/components/galerie.scss - Design of galerie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
/* ARTISTE
*
* /sass/components/mainimage.scss - Design of mainimage stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.principal {
  background: url("../img/tableaux-acceuil.jpg") no-repeat center fixed;
  background-size: cover; }
  .principal__infoExpo {
    color: white;
    border: 1px solid white;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7); }

.infoExpo__text {
  display: inline-block;
  font-weight: lighter;
  font-size: 1.6em;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  padding: 0.3em; }
  .infoExpo__text--link {
    background-color: #12A3D7;
    border-radius: 5px;
    padding: 0.5em;
    color: black;
    transition: .3s ease; }
    .infoExpo__text--link:hover {
      color: white;
      background-color: #0063B3; }

/* ARTISTE
 *
 * /sass/components/lien.scss - Non Design of lien stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
.liens__link {
  font: 2em/2em "opensans";
  padding: 2em;
  text-align: center;
  border-bottom: 1px solid #ccc;
  transition: .3s ease-in-out; }
  .liens__link:hover {
    cursor: pointer;
    background-color: #43566D;
    color: white; }
    .liens__link:hover::before {
      content: "";
      display: block;
      font: 2em/2em "fontawesome"; }

/* ARTISTE
*
* /sass/components/footer.scss -  Design of footer stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.piedpage {
  background-color: #e04f43;
  color: white; }
  .piedpage__element {
    display: inline-block;
    font-size: 1.3em;
    padding: 1em; }
    .piedpage__element--link {
      color: white; }
      .piedpage__element--link:hover {
        text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */