
@font-face {
    font-family: 'archisticonormal';
    src: url('../fonts/archistio/archistico_simple-webfont.eot');
    src: url('../fonts/archistio/archistico_simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archistio/archistico_simple-webfont.woff2') format('woff2'),
         url('../fonts/archistio/archistico_simple-webfont.woff') format('woff'),
         url('../fonts/archistio/archistico_simple-webfont.ttf') format('truetype'),
         url('../fonts/archistio/archistico_simple-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/ubuntu-r-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff'),
  url('../fonts/ubuntu/ubuntu-r-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu/ubuntu-r-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/open-sans/opensans-webfont.eot');
  src: url('../fonts/open-sans/opensans-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/opensans-webfont.woff2') format('woff2'),
  url('../fonts/open-sans/opensans-webfont.woff') format('woff'),
  url('../fonts/open-sans/opensans-webfont.ttf') format('truetype'),
  url('../fonts/open-sans/opensans-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/Linearicons-Free.eot?w118d');
	src:url('../fonts/fontawesome/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('../fonts/fontawesome/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/fontawesome/Linearicons-Free.woff?w118d') format('woff'),
		url('../fonts/fontawesome/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../fonts/fontawesome/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}
$archistico:"archisticonormal";
$ubuntuStack:"ubuntu",Arial;
$opensansStack:"opensans",Arial,sans-serif;
$fontawesomeStack:"fontawesome";
