/* ARTISTE
*
* /sass/object/bibliographie.scss - Non Design of bibliographie stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.catalogue{
  margin-bottom:2em;
  &__title{
    margin: 1em 0;
  }
}
.toutcatalogue{
  text-align: center;
}
.livre{
  width:50em;
  height: 48em;
  display: inline-block;
  margin:auto;
  margin-left: 4em;
  margin-bottom: 5em;
  &__title{
    margin-top: 1em;
  }
  &__cite{
    margin-top: 1em;
    display: block;
  }
  &__image{
    display: block;
    margin: auto;
    height:30em;
    width: 20em;
  }
}
@media screen and (max-width:579px) {
  .catalogue{
    &__title{
      font-size: 4em;
    }
  }
    .livre{
      max-width: 100%;
      margin:2em 0;
    }
}
