/* ARTISTE
*
* /sass/object/bibliographie.scss - Non Design of bibliographie stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.catalogue{
  margin-bottom: 7em;
  perspective: 1000;
  &__title{
    margin-top: 1em;
  }
}

.livre{
  margin-bottom: 5em;
  &__title{
    margin-top: 1em;
  }
  &__image{
    width:20em;
    min-height: 30em;
  }
  &__front{
    &--cite{
      display: block;
    }
  }
  &__flipcontainer{
    width:22em;
    margin: auto;
  }
  &__flipper{
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  &__back{
      backface-visibility: hidden;
      width: 25em;
      position: absolute;
      top:0;
      left:0;
      margin:auto;
  }
}
