/* ARTISTE
 *
 * /sass/object/biographie.scss - Non Design of biographie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
 
 .biographie{
  width:90em;
  margin: auto;
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  &__title{
    margin-top: 1em;
  }
  &__image{
    display: block;
    margin-left: 1.5em;
  }
  &__text{
    width: 35em;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
