/* ARTISTE
 *
 * /sass/object/biographie.scss - Non Design of biographie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
 #biographie{
  width:90em;
  margin: auto;
}
#biographie::after{
  content: "";
  display: block;
  clear: both;
}
#biographie h2{
  margin-top: 1em;
}
.biographie img{
  display: block;
  margin-left: 1.5em;
}
.biographie p{
  width: 35em;
  float: left;
  margin-top: 1em;
}
.biographie p:last-child{
  float: right;
  margin-bottom: 1em;
}
