/* ARTISTE
*
* /sass/object/galerie.scss - Non Design of galerie stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/

.galerieimage{
  display:block;
  width:65em;
  margin:auto;
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  &__title{
    margin:1em 0;
  }
}
.ensembleimage{
  &__container{
    float:left;
    width: 32em;
    margin: auto;
    height: 30em;
    overflow: hidden;
    margin-bottom: 2em;
  }
  &__image{
    width:30em;
    height: 30em;
  }
}
.infocomplementaire{
  &__element{
    width: 263px;
    transition: 1s ease-in-out;
  }
}
.ensembleimage li:hover .infocomplementaire li {
  transform: translateY(-300px);
}



@media screen and (max-width:665px) {
.ensembleimage{
  &__container,&__image{
    max-width:100%;
    height:30em;
    float: none;
    display: block;
  }
}
}
@media screen and (max-width:558px) {
  .galerieimage{
    width:100%;
    margin: 0;
  }
  .ensembleimage{
    margin-left: 1em;
  }
}
