/* ARTISTE
 *
 * /sass/object/header.scss - Non Design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */

.topbar{
  text-align:right;
  &__logo{
    &--image{
      width:200px;
      position: absolute;
      left:50px;
      padding-top:3em;
      z-index: 1;
    }
}
}


.menu{
  position:relative;
  &__element{
    display:inline-block;
  }
  &__link{
    margin:1.333em 2.0666em 1.333em 1.2em; // 20px 31px 20px 18px
    display: block;
  }
}
