/* ARTISTE
*
* /sass/object/pratique.scss - Design of pratique stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.main{
  width:90em;
  margin: auto;
}
.form{
  margin-left: 2em;
  &__input{
    display: block;
    width:30em;
  }
  &__button{
    width:10em;
    margin:2em 0;
  }
}
.info{
  &::after{
    content:"";
    display: block;
    clear: both;
  }
  &__title{
    margin:1em 0;
  }
  &__menu{
    float:left;
    margin-bottom: 4em;
  }
  &__element{
    margin-right: 2em;
  }
}
@media screen and (max-width:920px) {
  .main{
    width:40em;
    margin: auto;
  }
}
@media screen and (max-width:426px) {
  .main{
    width:100%;
    margin:0;
  }
  .info{
    &__element{
      margin: 0;
    }
  }
  .form{
    width:90%;
    margin:0;
    margin-left:1em;
  }
}
@media screen and (max-width:350px) {
  .form{
    &__input{
      width:90%;
    }
  }
}
