/* ARTISTE
 *
 * /sass/object/footer.scss - NOn Design of footer stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
 .piedpage ul{
   width:50em;
   margin:auto;
 }
 .piedpage li{
   margin-left: 2em;
 }
