/* ARTISTE
*
* /sass/components/bibliographie.scss - Non Design of bibliographie stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/

.livre{
  vertical-align: bottom;
      overflow: hidden;
  &__container{
    border:1px solid $grey;
    padding: 1em;
  }
  &:hover &__menu,&:focus &__menu{
    transform: translateY(-400px);
    cursor: pointer;
  }
  &__image{
    border:10px solid $white;
    box-shadow: 1px 1px 5px $black;
  }
  &__title{
    font-size: 1.6em;
  }
    &__cite{
      display: block;
      font-size: 1.6em;
      background-color: $blueBckg;
      padding:1em;
      color:$white;
      text-align: center;
      text-decoration: none;
    }
  &__menu{
    transform: translateY(50px);
    background-color: $backgroundCard;
    opacity: 0.9;
      transition: 1s ease-in-out;
    &--element{
      font:1.5em/1.4 "opensans";
      padding:1em;
      text-align:center;
      color:$black;
    }
  }
}
