/* ARTISTE
 *
 * /sass/components/biographie.scss - Design of biographie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */

.biographie p{
  font:1.5em/1.6em "opensans";
  color:black;
  padding: 1em;
}
