/* ARTISTE
 *
 * /sass/components/biographie.scss - Design of biographie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */

.biographie{
  &__text{
    font:1.5em/1.6em "opensans";
    color:black;
    padding: 1em;
  }
}
@media screen and (max-width:600px){

  .biographie{
    &__text{
        padding:0;
    }
  }
}
