/* ARTISTE
 *
 * /sass/components/galerie.scss - Design of galerie stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */
 .ensembleimage div{
   color:$white;
 }
 .infocomplementaire{
   &__strong{
     font-size: 1.4em;
     line-height: 1.4em;
   }
   &__element{
     font:1.3em/1.5 $ubuntuStack;
     padding:1.4em;
     color:$white;
     background-color: rgba(0,0,0,0.5);
     text-align: center;
   }
 }
