/* ARTISTE
*
* /sass/components/mainimage.scss - Design of mainimage stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/

.principal{
  background: url("../img/tableaux-acceuil.jpg") no-repeat center;
  background-size: cover;
  &__infoExpo{
    color:$white;
    border:1px solid $white;
    padding:1em;
    background-color: rgba(0,0,0,0.7);
  }
}

.infoExpo{

  &__text{
    display: inline-block;
    font-weight: lighter;
    font-size:1.6em;
    line-height: 1.5em;
    letter-spacing: 1.5px;
    padding:0.3em;

    &--link{
      background-color: $blueBckg;
      border-radius: 5px;
      padding: 0.5em;
      color:$black;
      transition: .3s ease;

      &:hover{
        color:$white;
        background-color: $linkHover;
      }
    }
  }
}
 @media screen and (max-width:610px) {
   .principal{
     &__infoExpo{
       padding:0;
       border:0;
     }
   }
 }
 @media screen and (max-width:400px){
   .principal{
     height:100%;
    width:100%;
   }
   .infoExpo{
     &__text{
       font-weight: normal;
       padding-bottom: 1em;
     }
   }
 }
