/* ARTISTE
*
* /sass/components/pratique.scss - Design of pratique stylesheet
*
* coded by Dylan Schirino
* started at 03/04/2016
*/
.info{
  &__menu{
    border-right: 1px solid $grey;
  }
  &__element{
    font: 1.6em/1.8 $opensansStack;
    padding:1em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $grey;
    &--local::before{
      content:"";
      display: block;
      text-align: center;
      font:4em/2em $fontawesomeStack;
      color:$hoverColor;

    }
    &--day::before{
      content:"";
      display: block;
      text-align: center;
      font:4em/2em $fontawesomeStack;
      color:$blueBckg;
    }
    &--date::before{
      content:"";
      display: block;
      text-align: center;
      font:4em/2em $fontawesomeStack;
      color:$hoverColor;
    }
    &--price::before{
      content:"";
      display: block;
      text-align: center;
      font:4em/2em $fontawesomeStack;
      color:$blueBckg;
    }
    &--phone::before{
      content:"";
      display: block;
      text-align: center;
      font:4em/2em $fontawesomeStack;
      color:$hoverColor;
    }
  }
}

.form{
  &__input{
    padding: 1em;
    border: 1px solid $grey;
    border-radius: 4px;
  }
  &__label{
    display: block;
    font:1.6em/1.8 $opensansStack;
    margin-top: 1em;
  }
  &__button{
    border: none;
    padding:1em;
    font-size: 1.4em;
    color:white;
    border-radius: 4px;
    background-color: $menuBckg;

    &:hover{
      transition: .3s linear;
      cursor: pointer;
      background-color: $blueBckg;
    }
  }
}

@media screen and (max-width:426px) {
  .info{
    &__menu{
      border-right:0;
    }
  }
}
