html {
  font: normal 62.5%/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
  color:#606060;
}
h2{
  font:5em "archisticonormal";
  color:#F08362;
  text-align: center;
}
h3{
  font:3em "ubuntu";
  text-transform: uppercase;
  text-align: center;
  color:#2190c1;
  margin-bottom:1em;
}
